#!/bin/bash

docker run \
	--name=dsbase1 \
	-p 8888:8888 \
	-p 6006:6006 \
	-d \
	-e KAGGLE_USER='<user>' \
	-e KAGGLE_KEY='<key>' \
	-e JUPYTER_PASSWORD='<sha1_jupyter_pwd>'
	--memory=6g \
	--memory-swap=-1 \
	-v <work_folder>:/notebooks \
	giorbernal/dsbase
